table, th , td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
table{
    float: left;
}

.person:hover {
  cursor: pointer;
  background: #333;
  color: #FFF;
}

#form-group, #details{
    float: right;
    overflow: hidden;
}