<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="app.css"/>
        <link rel="shortcut icon" href=""/>
    </head>
    <body ng-controller="mainCtrl">
        <h1>{{title}}</h1>
        <div class="form-group">
		<input type="text" class="form-control" placeholder="Search here..."
			ng-model="searchStr">
	  </div>
        <table>
                    <tr>
                        <th>Name</th>
                        <th>Occupation</th>
                        <th>Company</th>
                    </tr>
                    <tr class="person" ng-repeat="member in members | filter:searchStr" ng-click="showDetails(member)">
                        <td ng-click="selMember(member)">{{member.firstName}} {{member.middleInitial}} {{member.surname}}</td>
                        <td>{{member.occupation}}</td>
                        <td>{{member.company}}</td>
                    </tr>
        </table>
        <div class="details">
            <p>{{selectedMember.firstName}} {{selectedMember.middleInitial}} {{selectedMember.surname}}</p>
            <p><img ng-src="{{selectedMember.portrait}}"></p>
            <p>{{selectedMember.occupation}}</p>
            <p>{{selectedMember.company}}</p>
            <p>{{selectedMember.motto}}</p>
        </div>

       
    </body>
</html>